/* working with main class component */
.main{
    background-color: transparent;
    position: fixed;
    /* z-index: 99; */
    width: 100%;
    left: 0;
    top: 0;

}

.main_scrolled{
    background-color: rgb(4, 64, 109);
    position: fixed;
    color: black;
    width: 100%;
    left: 0;
    top: 0;

}

/* start work with navigation area */


/* working logo area */

.logo img{
    /* height: 37px; */
    width: 150px;
    margin: 0;
    padding: 0;
    
}



/* working with navigation area 
Specially, this section is responsible to show how the navigatio area
 with the help of flex box

*/

.container{
    max-width: 1140px;
    margin: auto;
    height: 60px;
    overflow: hidden;

    
}
.row{
    display: flex;
    flex-wrap: wrap; 
    padding: 0 10px;
}

.logo{
    flex: 0 0 25%;
    max-width: 25%;
    
}
.nav{
    flex: 0 0 75%;
    max-width: 75%;
    
}






/* working with Navigation functional component */

.navItem{
    list-style: none;
    float: left;
    padding: 10px 15px;
    border: none;
    margin: auto;
}
.navBar{
    float: right;
    margin: auto;
    padding: 8px 0;
}

a{
    color: white;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-transform: capitalize;
}
a:hover{
    text-decoration: none;
    color: white;
}
.navItem:hover{
    transform: scaleX(1.2);
  
}

.contact{
    background-color: orange;
    border-radius: 7px;
    border: 1px solid orange;
    color: white;
    font-size: 18px;

}
.navButton:hover .contact{
    background-color: transparent;
    border: 1px solid white;
    
}

.navButton{
    list-style: none;
    float: left;
    padding: 10px 0px 15px;
    margin-left: 15px;
}




