/* working with main class component */
.main{
    background-color: transparent;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}

.main_scrolled{
    transition: 0.5s;
    background-color: rgb(4, 64, 109);
    position: fixed;
    color: black;
    width: 100%;
    left: 0;
    top: 0;
}

/* starting work with navigation area */


/* working with logo area */

.logo img{
    width: 130px;
    height: 80px;
    margin: 0;
    padding: 0;
    
}


/* working with navigation area 
Specially, this section is responsible to show how the navigatio area
 with the help of flex box

*/

.container{
    max-width: 1140px;
    margin: auto;
    /* height: 60px; */
    overflow: hidden;

    
}
.row{
    display: flex;
    flex-wrap: wrap; 
    padding: 0 10px;
}

.logo{
    flex: 0 0 25%;
    max-width: 25%;
    
}
.nav{
    flex: 0 0 75%;
    max-width: 75%;
    
}



/* working with contat contact area  */
.contactBodyMain{
    background-color: rgb(240, 103, 31);
}
.contactBody{
    display: flex;
    flex-direction: row;
    max-width: 1140px;
    margin: auto;
   
    overflow: hidden;
  
}

.contactItem1{
    width: 40%;
    /* height: 50px; */
    margin-left: 10px;
}


.emailLogo{
    height: 32px;
    width: 32px;
    margin-top: 9px;
    border-radius: 100%;
    float: left;
    background-image: url('../Icons/email.png');
    /* border: none; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    

}
.contactText{
    margin: 9px 0 0 35px;
    padding: 5px;

}



.contactItem2{
    width: 20%;
  
    height: 50px;
}


.phoneLogo{
    height: 32px;
    width: 32px;
    margin-top: 9px;
    border-radius: 100%;
    float: left;
    background-image: url('../Icons/phone.png');
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;

}



.contactItem3{
    width: 40%;
    /* background-color: red; */
    height: 50px;
    padding-right: 10px;
}




.socialLogo{

    display: flex;
    flex-direction: row;
    float: right;
}

.image{
    width: 32px;
    height: 32px;
    border-radius: 100%;
    margin: 10px;
    /* border: 1px solid #fff; */
}












/* working with Navigation functional component */

.navItem{
    list-style: none;
    float: left;
    padding: 21px 10px;
    border: none;
    margin: auto;
}
.navBar{
    float: right;
    margin: auto;
    padding: 8px 0;
}

a{
    color: white;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-transform: capitalize;
}
a:hover{
    text-decoration: none;
    color: white;
}
.navItem:hover{
    transform: scaleX(1.2);
  
}

.contact{
    background-color: orange;
    border-radius: 7px;
    border: 1px solid orange;
    color: white;
    font-size: 18px;
    padding: 10px;

}
.navButton:hover .contact{
    background-color: transparent;
    border: 1px solid white;
    
}

.navButton{
    list-style: none;
    float: left;
    padding: 10px 0px 15px;
    margin-left: 15px;
}














/* working for tablet area */
@media only screen and (max-width: 768px){
    .logo img{
        width: 100px;
        height: 50px;
    }
    .contactText{
        display: none;
    }
    .contactBody{
        display: none;
    }
}


